<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h>动态生成表单测试</h>
<form action="/manage_symbols/" method="post">
    {% csrf_token %}
{#     {% for foo in s_list %}#}
{#         <p> {{ foo}} </p>#}
{#     {% endfor %}#}
{##}
{#     {% for foo in formset %}#}
{#       <p> {{ foo.symbol_bool}} </p>#}
{#     {% endfor %}#}

{#    {{ formset.as_p}}#}

    {% for foo in result %}
        {{ foo }}
    {% endfor %}

    <input type="submit">
</form>
</body>
</html>